@charset "utf-8";

/*
スマホ:     320-480px
タブレット: 480-768px
PC:         768px以上
*/

/* 共通のスタイル */

body{
  font-family: Times New Roman, Verdana, sans-serif;
  width: 95%;
  margin: 0 auto;
}

#header{
  margin-top: 15px;
  background: #fff;
  margin-bottom: 15px;
  text-align: center
}

#siteTitle{
  background: #fff;
  text-align: center;
  margin-bottom: 5px;
}

#siteSubtitle{
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
}

#footer{
  margin-top: 15px;
  background: #fff;
  text-align: center;
}

#main{
  background: #fff;
}

#sub{
  background: #fff;
}

#footerNavLink{
  float: right;
}

#headerNav ul{
  list-style: none;
  overflow: hidden;
}

#headerNav li{
  float: left;
  width: 16.6666666%;
  text-align: center;
}

img{
  max-width: 100%;
}

div.main>img{
  padding: 2px;
  background: #fff;
  border: 1px solid #ccc;
}

div.main>p{
  text-align: center;
  margin-bottom: 30px;
}

/* スマホのスタイル */

#headerNav {
  display: none;
}

/* タブレットのスタイル */

@media all and (min-width: 480px){
  #footerNavLink{
    display: none;
  }
  #headerNav{
    display: block;
  }
  #footerNav{
    display: none;
  }
}

/* PCのスタイル */

/*
all:   980px
sub:   200px
margin: 15px
main:  765px
*/

@media all and (min-width: 768px){
  #container{
    overflow: hidden;
  }
  #main{
    float: left;
    width: 78.0612245%;
  }
  #sub{
    float: right;
    width: 20.4081633%; /* 200px/980px*100 */
  }
}

h1{
  background-color: #ccc;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

h2, h3{
  font-weight: bold;
}

h2{
  font-size: 16px;
  border-left: 5px solid #ccc;
  padding: 3px 0 3px 10px;
  margin-bottom: 10px;
}

h3{
  border-bottom: 1px solid #ccc;
  padding: 3px 0;
  margin-bottom: 10px;
}

p{
  margin-bottom: 14px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.caption {
  position: absolute;
  display: block;
  bottom: -14px;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  background: #000;
  background: rgba(0,0,0, .8);
  color: #fff;
}

